body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: black;
    background-image: url(/images/home-interior-decoration.jpg);
    background-size: 100% 100%;
    box-sizing: border-box;
}

.login-container {
    border: 2px solid black;
    background-color: rgb(255, 244, 224);
    width: 300px;
    height: 300px;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 1rem;
    /* text-decoration: underline; */
}

.login-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.link{
    margin-top: 15px;
    height: 15px;
    padding: 8px 20px;
    font-size: 17px;
}

.btn{
    margin: 20px;
}

.login-buttons button {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #00B8A9;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.login-buttons button:hover {
    background-color: #007a6e;
}

.join-container {
    margin-top: 1rem;
    width: 100%;
    max-width: 300px;
}

.join-container input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    width: 100%;
}

.join-container button {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #00B8A9;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.join-container button:hover {
    background-color: #007a6e;
}